@import "../partials/params";
@import "../partials/mixins";

.f-notify {
  padding: 6px;
  color: @font-white-color;
  border-radius: 3px;
  max-width: 500px;
  min-width: 300px;
  display: block;

  &_inline {
    display: inline-block;
    max-width: unset;
    min-width: unset;
  }
  &_margin {
    margin: 6px;
  }

  &__title {
    padding: 6px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
  }
  &__message {
    padding: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 198px;
    white-space: normal;

    & readmessage {
      padding-top: 12px;
      display: block;
    }
  }

  &.f-notify_info {
    background-color: @blue-color;
  }
  &.f-notify_success {
    background-color: @green-color;
  }
  &.f-notify_warning {
    background-color: @orange-color;
  }
  &.f-notify_error {
    background-color: @red-color;
  }
}
