@import "../_partials/params";
@import "../_partials/mixins";

.k-grid {
  border: none;
}
.k-grid td {
  padding: 4px 10px;
}
.k-grid-header th.k-header {
  padding: 6px 10px;
}
.k-pager-sizes .k-widget.k-dropdown {
  margin-top: 0;
}
