@import "../_partials/params";
@import "../_partials/mixins";

.k-popup {
  &.k-list-container {
    padding: 0;
    margin-top: 6px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 15px -5px rgba(0,0,0,.3);
  }
}

.k-overflow-container .k-item {
  padding: 0;
}
.k-overflow-container .k-overflow-button,
.k-split-container .k-button {
  font-size: @font-size-sm;
}
