@import "../partials/params";
@import "../partials/mixins";

@media (max-width: 768px) {
  .f-card {

    &__middle {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 12px;
    }

    &__right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }

    &__left {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
}
